@import url('https://fonts.googleapis.com/css2?family=Monoton&family=swap');

html, body {
  margin: 0;
  padding: 0px;
  font-family: 'Monoton', cursive;
  /*background-color: #000066;*/
  background-color: #E5CCFF;
}

canvas {
  display: block;
  margin: auto;
  padding: 0px;
}

#your-element-selector {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -999;
  /*order send to back*/
}

h1 {
  text-align: center;
  color: Black;
  padding: 0px;
  font-size: 40px;
}

h2 {
  text-align: center;
  color: Black;
  padding: 0px;
  font-size: 20px;
}

p.fn {
  text-align: center;
  color: Black;
  padding: 0px;
  font-size: 14px;
}

a {
  color: White;
}

div.center {
  margin: auto;
  width: 60%;
  border: 3px solid #190033;
  background-color: #F0D5FF;
}
