@import url('https://fonts.googleapis.com/css2?family=Monoton&family=swap');

html, body {
  margin: 0;
  padding: 0px;
  font-family: 'Monoton', cursive;
  /*background-color: #000066;*/
  background-color: #E5CCFF;
}

canvas {
  display: block;
  margin: auto;
  padding: 0px;
}

#myCanvas canvas {
  display: block;
  margin: auto;
  border-radius: 1100px;
  padding: 5px;
}

h1 {
  text-align: center;
  color: Black;
  padding: 0px;
  font-size: 45px;
}

button {
  margin: 0;
  padding: 0px;
  text-align: center;
  font-family: 'Monoton', cursive;
}
